<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Админ</H1>
    <h2>просмотр статистики оплат и посещаемости</h2>
    <table>
        <thead>
            <tr>
                <th>день недели</th>
                <th>посещаемость</th>
                <th>оплаты</th>
            </tr>
        </thead>
        <tbody>
            {% for i in AttendAndPaymant %}
            <tr>
                <th>{{ i[0] }}</th>
                <th>{{ i[1] }}</th>
                <th>{{ i[2] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>заявки на закупки</h2>
    <form action="/gerte" method="post">
        <ul>
            {% for i in application %}
            <li>{{i[0]}}: {{i[1]}} - {{i[2]}} <input name="{{ i[3] }}" type="checkbox"></li>
            {% endfor %}
        </ul>
        <button type="submit">одобрить все выбранное</button>
    </form>
    <h2>отчеты о работе столовой за неделю</h2>
    <a href="/createOtchet">Скачать отчёт</a>

</body>
</html>