<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Повар</h1>
    <h2>внесение заявок на закупку продуктов</h2>
    <form action="/purchaseRequests" method="post" id="textForm">
        <textarea name="applications" id="applications" placeholder="введите текст заявки">
        </textarea>
        <button type="submit" id="sendApplications">отправить</button>
    </form>
    <table>
        <caption>количество выданных завтраков и обедов</caption>
        <thead>
            <tr>
                <th>завтраки</th>
                <th>обеды</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ZO[0]}}</th>
                <th>{{ZO[1]}}</th>
            </tr>
        </tbody>
    </table>
    <table>
        <caption>не выданные завтраки и обеды и сколько было приготовлено</caption>
        <thead>
            <tr>
                <th>не выдано</th>
                <th>всего приготовлено</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{NV[0]}}</th>
                <th>{{NV[1]}}</th>
            </tr>
        </tbody>
    </table>
</body>
</html>