<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <script src="{{ url_for('static', filename='js/EnterInSistem.js') }}"></script>
</head>
<body>
    <p id="ErrorText"></p>
    <form id="regForm" method="POST">
        <label>
            Ваше имя от 4 до 8 символов:
            <input type="text"
            name="name"
            id="naem"
            placeholder="имя пользователя"
            minlength="4"
            maxlength="8"
            required>
        </label><br>
        <label>
            пароль от 4 до 8 символов:
            <input type="text"
            name="password"
            id="password"
            placeholder="пароль"
            minlength="4"
            maxlength="8"
            required>
        </label><br>
        <label>
            я согласен на обработку персональных данных
            <input type="checkbox" 
            name="soglashenie" 
            value="1"
            required>
        </label><br>
        <button type="submit">войти</button>
    </form>
    <button id="buttonForReg">регистрация</button>
</body>
</html>