<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <script src="{{ url_for('static', filename='js/RegInSistem.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/allstyle.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/ion.png') }}">
</head>
<body>
    <p id="ErrorText"></p>
    <form id="regForm" method="POST">
        <label>
            Ваше имя:
            <input type="text"
            name="name"
            id="name"
            placeholder="имя пользователя"
            minlength="4"
            maxlength="100"
            required>
        </label><br>
        <label>
            пароль от 4 до 12 символов:
            <input type="text"
            name="password"
            id="password"
            placeholder="пароль"
            minlength="4"
            maxlength="12"
            required>
        </label><br>
        <label>
            ваша почта:
            <input type="email"
            name="email"
            id="email"
            placeholder="email"
            required>
        </label><br>
        <label>
            я согласен на обработку персональных данных
            <input type="checkbox"
                   name="soglashenie"
                   value="1"
                   id="soglashenie"
                   required>
        </label><br>
        <button type="submit">регистрация</button>
    </form>
    <button id="buttonForReg">войти</button>
</body>

</html>
